.header {
  background-color: #693f03;
  border-bottom: 2px solid #ddd;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin-bottom: 10px;
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  color: #ebe9e7;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-links a {
  padding: 8px 12px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
.cart-link {
  border: 1px solid #775832;
  border-radius: 6px;
  padding: 7px 12px !important;
  text-decoration: none;
  color: #693f03 !important;
  background-color: #ffffff;
}

.cart-link:hover {
  background-color: #f2f2f2;
}