.header {
  position: relative;
  background-color: #693f03;
  border-bottom: 2px solid #dddddd;
  padding: 20px 20px;
  min-height: 125px;
  text-align: center;
}

/* LOGO - LARGE AND ON THE LEFT SIDE */

.header-logo {
  position: absolute;
  left: 35px;
  top: 109%;
  transform: translateY(-50%);

  width: 365px;
  height: 365px;
  object-fit: contain;
}

/* TITLE */

.header h1 {
  margin: 0 0 15px;
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  color: #ebe9e7;
}

/* NAVIGATION */

.nav-links {
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 100px;
  flex-wrap: wrap;
}

.nav-links a {
  padding: 8px 12px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* CART */

.cart-link {
  border: 1px solid #775832;
  border-radius: 6px;
  padding: 7px 12px !important;

  background-color: #ffffff;
  color: #693f03 !important;

  text-decoration: none !important;
}

.cart-link:hover {
  background-color: #f2f2f2;
}

/* MOBILE */

@media (max-width: 768px) {
  .header {
    padding-top: 110px;
    min-height: auto;
  }

  .header-logo {
    left: 50%;
    top: 10px;
    transform: translateX(-50%);

    width: 90px;
    height: 90px;
  }

  .header h1 {
    font-size: 30px;
  }

  .nav-links {
    gap: 8px;
  }
}
.login-link {
  position: absolute;
  top: 20px;
  right: 30px;

  padding: 8px 18px;
  background-color: #ffffff;
  color: #693f03;
  border-radius: 6px;

  text-decoration: none;
  font-weight: 700;
}

.login-link:hover {
  background-color: #f3ebe2;
}
.user-login-area {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-role {
  padding: 8px 14px;
  background-color: #ffffff;
  color: #693f03;
  border-radius: 6px;
  font-weight: 700;
}

.signout-button {
  padding: 8px 14px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.signout-button:hover {
  background-color: #ffffff;
  color: #693f03;
}